body {
    background-image: url(../img/tile.gif);
    color: #0000FF;
    font-family: helvetica, helvetica neue, arial, sans-serif;
    font-size: 25px;
}

h4 {margin-top: -5px;}
h5 {margin-top: -30px;}
p {}

.unofficial-disclaimer {
    background: #e3a5f2;
    font-size: 20px;
    color: #661172;
    font-style: italic;
    padding-bottom: 100px;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
    border-bottom-style: solid;}

.nomargin-yespadding {
    margin: -8px;
    padding: 8px;
}

a:visited {color:#0000AA}

a:hover, a:focus {color: #7700AA}