body {
    background-image: url(../img/tile.gif);
    color: #0000FF;
    font-family: Helvetica, "Helvetica Neue", Inter, Arial, sans-serif;
    font-size: 25px;
    position: relative;
    margin: 0;
    padding: 4px;
    min-height: calc(100vh - (1em + 16px));
}

h4 {margin-top: -5px;}
h5 {margin-top: -30px;}
p {}
ß
.unofficial-disclaimer {
    background: #e3a5f2;
    font-size: 20px;
    color: #661172;
    font-style: italic;
    padding-bottom: 100px;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
    border-bottom-style: solid;}

.copyright {
    margin-top: 8px;
    text-align: center;
    position: absolute;
    bottom: calc(-1*(1rem + 16px));
    width: 100%;
    background: #000000;
    font-size: 15px;
    color: #FFFFFF;}

.nomargin-yespadding {
    margin: -8px;
    padding: 8px;
}

a:visited {color:#0000AA}

a:hover, a:focus {color: #7700AA}