* {box-sizing: inherit;}

html {
    min-height: 100vh;
    box-sizing: border-box;
}

body {
    background-image: url(../img/tile.gif);
    color: #0000FF;
    font-family: Helvetica, "Helvetica Neue", Inter, Arial, sans-serif;
    font-size: 25px;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
}

main {
    margin: 8px
}

h4 {margin-top: -5px;}
h5 {margin-top: -30px;}

.container {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.NavBar {
    background: #2222CC;
    width: 100vw;
}

.NavLinkDiv {
    margin: 8px;
    padding: 4px;
    border-width: 3px;
    border-style: solid;
    border-color: #9999FF;
    float: left;
}

.NavLink {
    color: #FFFFFF}
    /*links in NavBarLink*/
    .NavLinkDiv a:visited {color: #ffffff}
    .NavLinkDiv a:hover, .NavLinkDiv a:focus {
        color: #DDBBFF; 
        background-color: #000099;}

.NavLinkEnd {
    clear: left;
}

.unofficial-disclaimer {
    background: #e3a5f2;
    font-size: 20px;
    color: #661172;
    font-style: italic;
    width: 100vw;
    padding-bottom: 100px;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
    border-bottom-style: solid;}

.copyright {
    margin-top: 8px;
    text-align: center;
    width: 100vw;
    background: #000000;
    font-size: 15px;
    color: #FFFFFF;}

.nomargin-yespadding {
    /* margin: -8px; */
    padding: 8px;
}

a:visited {color:#0000AA}

a:hover, a:focus {color: #7700AA}